<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Por Género</title>
</head>

<!-- i) Al clickear una banda de la lista por género, deberá redirigir al detalle de la misma.-->

<!-- ii) Validar que si no hubiese bandas de dicho género se muestre un mensaje ilustrativo.-->
<% if (noGenero){ <%=
    noGenero %> } %>